@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans');
.paging{
  width: 80%;
  height: 80%;
  margin-top: 20px;
}
.title{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}
.churn{
  height:100px;
}
